
.js .inputfile {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    display: inline-block;
    padding: 10px 20px;

    font-weight: 500;
    color: var(--bg);

    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;

    background-color: #212529;
    border-radius: 5px;
    outline: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile:hover + label{
    outline: none;
    background-color: #1c1f23;
    border-color: #1a1e21;

}

.inputfile:active + label {
    background-color: #1a1e21;
    border-color: #191c1f;

}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}